<form action="" class="messages-form">
    <div class="messages-form__line">
        <div class="messages-form__input-wrap">
            <textarea class="messages-form__input" placeholder="Написати повідомлення"></textarea>
            <div class="messages-form__files-list">
                <label class="messages-form__label" for="upload-file">
                    <div class="messages-form__label-title">Завантажити файл</div>
                    <input form="worksheet-form" id="upload-file" type="file" class="messages-form__input-file">
                </label>
                <div class="messages-form__files"></div>
            </div>
        </div>
        <button type="submit" class="the-button messages-form__submit">Надіслати</button>
    </div>
</form>
