.messages-form {
  margin-bottom: 30px;

  @media(max-width: 767px) {
    margin-bottom: 0;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;

    @media(max-width: 767px) {
      flex-direction: column;
      height: auto;
    }
  }

  &__input {
    border: 1px solid #9090AB;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $lightgray;
    padding: 13px 43px;

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 1.2;
      padding: 10px;
      min-height: 100px;
      height: auto;
      margin-bottom: 20px;
    }

    &-wrap {
      width: 100%;
      position: relative;
    }
  }

  &__label {

    &:before {
      cursor: pointer;
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../images/upload_gray.svg);
      background-repeat: no-repeat;
      background-position: center;

      @media(max-width: 767px) {
        position: static;
        transform: translateY(0);
      }
    }

    @media(max-width: 767px) {
      display: flex;
    }

    &-title {
      //margin: 22px 0 20px;
      display: none;

      @media(max-width: 767px) {
        display: block;
        margin-left: 5px;
      }

      @media(max-width: 575px) {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }


  &__files {

    &-list {

      @media(max-width: 767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      @media(max-width: 575px) {
        display: block;
      }
    }

    &-item {
      color: $black;
      letter-spacing: 0.055em;
      position: absolute;
      left: 44px;
      top: 134%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: flex;
      align-items: center;
      margin: 2px 0 20px;

      @media(max-width: 767px) {
        position: static;
        margin: 2px 0 0;
      }

      @media(max-width: 575px) {
        font-size: 14px;
        line-height: 1.2;
        margin: 10px 0;
      }

      &:after {
        content: '';
        width: 16px;
        height: 16px;
        margin: 1px 0 0 8px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/delete.svg);
      }

      &:hover {
        color: $red;
        cursor: pointer;

        &:after {
          background-image: url(../images/delete_red.svg);
        }
      }
    }
  }

  &__input {
    &-file {
      display: none;
    }
  }

  &__submit {
    border-radius: 0 2px 2px 0;
    padding: 14px 23px;

    @media(max-width: 575px) {
      height: 40px;
    }
  }

}