<div class="worksheet-form__buttons">
    <a href="#" class="the-button worksheet-form__public-link">Дивитися публічний профіль</a>
    <button form="worksheet-form" type="submit" class="the-button worksheet-form__button">Оновити профiль</button>
</div>