.worksheet-form {

  &__tabs {
    text-align: center;
    padding: 46px 0 22px;
    margin-bottom: 17px;

    @media(max-width: 1099px) {
      padding: 36px 0 22px;
    }

    @media(max-width: 767px) {
      padding: 30px 0 22px;
    }

    @media(max-width: 575px) {
      padding: 22px 0 10px;
    }
  }

  &__tab {
      display: inline-block;
      //margin: 0 15px 43px;
      margin: 0 15px 5px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.05em;
      color: $lightgray;
      padding-bottom: 6px;
      border-bottom: 1px solid transparent;

      @media(max-width: 767px) {
        font-size: 14px;
        line-height: 1.2;
      }

      @media(max-width: 575px) {
        margin: 0 5px 10px;
        font-size: 14px;
        line-height: 1.2;
      }

      @media(max-width: 399px) {
        letter-spacing: 0.01em;
      }

    &.active-tab {
      color: $blue;
      border-bottom: 1px solid $blue;
    }

    &:hover {
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }

  &__content {
    display: none;

    @media(max-width: 991px) {
      padding: 0 15px;
    }

    &_thin {
      padding: 0 75px;

      @media(max-width: 991px) {
        padding: 0 15px;
      }
    }

    &.active-content {
      display: block;
    }
  }

  &__select {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $black;
    height: 40px;
    max-width: 368px;
    width: 100%;
    border: 1px solid #E6ECF5;
    background-color: #fff;
    padding: 5px 10px;

    @media(max-width: 819px) {
      max-width: 100%;
    }

    @media(max-width: 767px) {
      height: 30px;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__line {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $black;
    margin-bottom: 36px;

    @media(max-width: 819px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    @media(max-width: 767px) {
      margin-bottom: 26px;
    }

    &.not-centered {
      align-items: flex-start;

      .worksheet-form__label {
        padding-top: 8px;
      }
    }

    &.expectations {
      margin-bottom: 34px;
    }

    &.english-level {
      margin-bottom: 45px;

      .worksheet-form__label {
        padding-top: 0;
      }
    }

    &.employment {
      margin-bottom: 27px;

      @media(max-width: 819px) {
        .worksheet-form__label {
          margin-bottom: 20px;
        }
      }
    }

    &.last-line {
      padding-bottom: 32px;
      position: relative;

      @media(max-width: 767px) {
        padding-bottom: 16px;
      }
    }
  }

  &__label {
    font-weight: 600;
    text-align: left;
    max-width: 262px;
    width: 100%;

    @media(max-width: 819px) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }

    @media(max-width: 767px) {
      line-height: 1.2;
      font-size: 14px;
    }

    &-wrap {
      display: flex;
      align-items: center;

      @media(max-width: 819px) {
        flex-direction: column;
        width: 100%;
      }

      @media(max-width: 767px) {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }

  &__input,
  &__area {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $black;
    border: 1px solid #E6ECF5;
    border-radius: 2px;
    width: 368px;
  }

  &__input {
    height: 40px;
    padding: 5px 15px;

    @media(max-width: 767px) {
      line-height: 1.2;
      font-size: 14px;
      height: 30px;
    }

    &.mini-input {
      width: 104px;
    }

    &-wrapper {
      position: relative;

      @media(max-width: 819px) {
        width: 100%;
        max-width: 100%;
      }

      &:before {
        position: absolute;
        left: -34px;
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../images/worksheet-file.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translateY(-50%);
        top: 55%;

        @media(max-width: 819px) {
          left: 0;
        }
      }
    }

    @media(max-width: 819px) {
      width: 100%;
    }

    &-file {
      display: none;
    }

    &-label {
      width: 262px;
      font-weight: 600;
      text-align: left;

      @media(max-width: 819px) {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    &-wrap {
      height: 40px;
      padding: 8px 30px;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;

      @media(max-width: 819px) {
        width: 100%;
      }

      @media(max-width: 767px) {
        height: 30px;
        font-size: 14px;
        line-height: 1.2;
        padding: 7px 35px;
      }
    }
  }

  &__files {
    position: absolute;
    left: 263px;
    bottom: 0;
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: $lightgray;

    @media(max-width: 819px) {
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
    }


    &-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        color: $red;
        cursor: pointer;

        &:after {
          content: 'X';
          display: inline-block;
          margin-left: 10px;
          color: $red;
          text-align: center;
        }
      }
    }
  }

  &__area {
    height: 160px;
    padding: 10px 15px;
    line-height: 1.2;

    @media(max-width: 819px) {
      width: 100%;
      height: 100px;
    }

    @media(max-width: 767px) {
      line-height: 1.2;
      font-size: 14px;
    }

    &#skills {
      .search-form__tag {
        margin-bottom: 13px;
      }
    }

    &.mini-area {
      height: 122px;

      @media(max-width: 819px) {
        width: 100%;
        height: 100px;
      }
    }

    &.tags {
      padding: 10px 15px 4px;
      height: auto;
    }
  }

  &__buttons {
    max-width: 368px;
    margin: 84px auto 0;

    @media(max-width: 819px) {
      margin: 50px auto 0;
    }

    @media(max-width: 479px) {
      max-width: 260px;
    }
  }

  &__button,
  &__public-link {
    width: 100%;
    text-align: center;
  }

  &__button {
    @media(max-width: 575px) {
      line-height: 1.2;
      font-size: 14px;
      height: 40px;
    }
  }

  &__public-link {
    text-decoration: none;
    background: transparent;
    color: $blue;
    box-shadow: none;
    border: 1px solid $blue;
    padding: 13px 36px;
    margin-bottom: 24px;

    @media(max-width: 575px) {
      line-height: 1.2;
      font-size: 14px;
      height: 40px;
    }

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.filter__skills#english-level {
  margin-top: -3px;
  margin-bottom: -13px;
}

.filter__employment-items#employment {
  display: flex;
  margin: -2px 0 0;

  @media(max-width: 399px) {
    flex-direction: column;
  }

  .filter__employment-item {
    margin: 0 8px 0 0;

    @media(max-width: 399px) {
      margin: 8px;
    }
  }
}

.filter__relocation#employment-type {
  flex-direction: column;
}

.soc-media {
  margin-bottom: 45px;

  @media (max-width: 767px) {
    margin-bottom: 26px;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @media (max-width: 819px) {
      justify-content: center;
    }

    &:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 12px;
    }

    &-skype {
      padding-top: 2px;
      &:before {
        width: 16px;
        height: 16px;
        background-image: url(../images/worksheet-skype.svg);
      }
    }

    &-telegram {
      &:before {
        width: 17px;
        height: 15px;
        background-image: url(../images/worksheet-telegram.svg);
      }
    }

    &-linkedin {
      &:before {
        width: 17px;
        height: 17px;
        background-image: url(../images/worksheet-linkedin.svg);
        margin-top: -4px;
      }
    }

    &-github {
      &:before {
        width: 18px;
        height: 17px;
        background-image: url(../images/worksheet-github.svg);
        margin-right: 10px;
      }
    }
  }
}