.container {
  max-width: 1070px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  //outline: 1px solid white;
}

.inner-container {
  &__big {
    max-width: 776px;
    width: 100%;
  }

  &__small {
    max-width: 248px;
    width: 100%;
  }
}