<div class="my-interview">
    <div class="my-interview__items">
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">20.05.20</div>
            <div class="my-interview__activation">
                <input id="sf1" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf1" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">19.05.20</div>
            <div class="my-interview__activation">
                <input id="sf2" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf2" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">15.05.20</div>
            <div class="my-interview__activation">
                <input id="sf3" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf3" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item transparent">
            <div class="scheduled-interview__date my-interview__date">10.05.20</div>
            <div class="my-interview__activation">
                <input id="sf4" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox">
                <label for="sf4" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">21.05.20</div>
            <div class="my-interview__activation">
                <input id="sf5" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf5" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item transparent">
            <div class="scheduled-interview__date my-interview__date">21.05.20</div>
            <div class="my-interview__activation">
                <input id="sf6" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox">
                <label for="sf6" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">21.05.20</div>
            <div class="my-interview__activation">
                <input id="sf7" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf7" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
        <div class="frame my-interview__item">
            <div class="scheduled-interview__date my-interview__date">21.05.20</div>
            <div class="my-interview__activation">
                <input id="sf8" class="thumbler__toggle thumbler__toggle-round my-interview__activation-toggle" type="checkbox" checked="">
                <label for="sf8" class="thumbler__label my-interview__activation-label"></label>
            </div>
            <div class="my-interview__developer">
                <div class="my-interview__developer-name">Олег Коваленко,</div>
                <div class="my-interview__developer-position">Backend Developer</div>
            </div>
            <div class="my-interview__details">
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Тривалiсть:</div>
                    <div class="my-interview__detail-value">100 хв</div>
                </div>
                <div class="my-interview__detail">
                    <div class="my-interview__detail-name">Кiлькiсть запитань:</div>
                    <div class="my-interview__detail-value">20</div>
                </div>
            </div>
        </div>
    </div>
</div>