<form class="salary-filter">
    <div class="base__notes salary-filter__info">
        Вiд <input type="text" class="salary-filter__input salary-min" placeholder="1000$"> до <input type="text" class="salary-filter__input salary-max" placeholder="2000$">
    </div>
    <!--{{> rangeslider }}-->
</form>