.candidate-recruiters {
  padding-bottom: 45px;

  @media(max-width: 1099px) {
    padding-bottom: 0;
  }

  &__container {
    padding: 28px 10px 8px;
    margin-bottom: 16px;

    &-main {
      padding: 44px 44px 0;

      @media(max-width: 767px) {
        padding: 20px;
      }
    }
  }

  &__aside {
    @media(max-width: 1099px) {
      margin-bottom: 16px;
    }
  }

  &__columns {

    @media(max-width: 1099px) {
      flex-direction: column;
    }
  }

  &__buttons {
    padding: 20px 16px;

    @media(max-width: 1099px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px 16px 4px;
    }

    @media(max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }

  }

  &__button {
    height: 50px;
    width: 100%;
    margin-bottom: 16px;

    @media(max-width: 1099px) {
      width: 24%;
      max-width: 100%;
    }

    @media(max-width: 991px) {
      width: 49%;
      max-width: 50%;
    }

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 1.2;
      height: 40px;
    }

    @media(max-width: 575px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;

    @media(max-width: 399px) {
      margin-bottom: 30px;
    }

    &-text {
      display: flex;
    }

    &-system {
      margin-top: -5px;
      margin-bottom: 6px;

      @media(max-width: 575px) {
        margin-bottom: 30px;
      }

      .offer__contact_opened {
        width: 100%;

        &:before {
          margin-right: 8px;

          @media(max-width: 575px) {
            display: none;
          }
        }

      }

      .candidate-recruiters__message-time {
        padding-top: 3px;
        color: $green;
      }
    }

    &-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0.05em;
      color: $black;
      margin-left: 24px;
      max-width: 495px;

      @media(max-width: 1099px) {
        max-width: 880px;
        width: 100%;
        padding-right: 15px;
      }

      @media(max-width: 767px) {
        font-size: 14px;
        line-height: 1.2;
      }

      @media(max-width: 399px) {
        margin-left: 0;
      }
    }

    &-title {
      font-weight: 600;
      margin-bottom: 7px;
    }

    &-body {
      line-height: 19px;
      letter-spacing: 0.04em;
    }

    &-icon {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin-top: 3px;

      @media(max-width: 399px) {
        display: none;
      }
    }

    &-time {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.05em;
      color: $lightgray;
      text-align: center;
      padding-top: 29px;
    }
  }

  &__letter {

    &-date {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.05em;
      color: $lightgray;
      text-align: center;
      margin-bottom: 14px;
    }
  }

  &__form {
    padding: 22px 0 46px;

    @media(max-width: 767px) {
      padding: 20px 0;
    }
  }
}

.button-red {
  border: 1px solid $red;
  color: $red;

  &:hover {
    background: $red;
  }
}


.button-interview {
  padding: 14px 13px;
  color: #fff;
  background: $blue;

  &:hover {
    background: darken($blue,10%);
  }
}