<form action="" class="upload-form">
    <div class="upload-form__line">
        <div class="upload-form__line-left">
            Iмпортувати даннi з
            <select name="site" class="base__subtitle search-form__select upload-form__select">
                <option value="1">Djinni</option>
                <option value="2">Linkedin</option>
                <option value="3">довгий селектор</option>
            </select>
        </div>
        <div class="upload-form__line-right">
            <input type="text" class="upload-form__field" placeholder="Вставте посилання на ваш профiль у Djinni">
            <button type="submit" class="the-button upload-form__submit">Завантажити</button>
        </div>
    </div>
</form>