{{> main-header }}
<div class="main-content dashboard__content candidates-profile">
    <div class="container">
        <section class="candidates-profile__import">
            <div class="candidates-profile__headline">
                <h1 class="candidates-profile__title">Мiй акаунт</h1>
                <button type="submit" class="the-button candidates-profile__button">
                    <div class="candidates-profile__button-title">Імпортувати данні</div>
                </button>
            </div>
            <div class="candidates-profile__activation">
                <input id="activation" class="thumbler__toggle thumbler__toggle-round" type="checkbox" checked>
                <label for="activation" class="thumbler__label"><span class="candidates-profile__activation-title">Профiль активовано</span></label>
            </div>

            <div class="dashboard">
                <div class="dashboard__section candidates-profile__upload">
                    <div class="fraimed-container candidates-profile__upload-container">
                        <div class="candidates-profile__upload-form">
                            {{> upload-form }}
                        </div>
                    </div>
                </div>
                <div class="dashboard__section candidates-profile__worksheet">
                    <div class="candidates-profile__worksheet-container fraim">
                        <div class="candidates-profile__worksheet-form">
                            {{> worksheet-form }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}