{{> main-header }}
    <div class="main-content">
        <div class="container">
            Це приблизний список посилань на рiзнi сторiнки, в залежностi вiд ролi користувача
            <ul>
                <li><a href="./registration.html">Реєстрацiя</a></li>
            </ul>
        </div>
    </div>
{{> main-footer }}