{{> main-header }}
<div class="main-content dashboard__content">
    <div class="container">
        <section class="dashboard">
            <div class="dashboard__section selected-candidates">
                <div class="h2 dashboard__section-title">Обрані кандидати</div>
                <div class="fraimed-container dashboard__container">
                    <div class="candidate">
                        <div class="candidate__first-line">
                            <a href="#" class="base__title candidate__name">Дмитро Пенчук</a>
                            <div class="candidate__date">Вiд: 04.06.2020</div>
                        </div>
                        <div class="candidate__items">
                            <div class="candidate__item">
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Зарплата:</div>
                                    <div class="candidate__item-value">2000$</div>
                                </div>
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Місто:</div>
                                    <div class="candidate__item-value">Київ</div>
                                </div>
                            </div>
                            <div class="candidate__item">
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Позиція:</div>
                                    <div class="candidate__item-value">UI/UX Designer</div>
                                </div>
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Досвід роботи:</div>
                                    <div class="candidate__item-value">2 роки</div>
                                </div>
                            </div>
                            <div class="candidate__item">
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Вид зайнятості:</div>
                                    <div class="candidate__item-value">Part-time</div>
                                </div>
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Знання мов:</div>
                                    <div class="candidate__item-value">Upper-intermediate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__section sent-offers">
                <div class="h2 dashboard__section-title">Надіслані пропозиції</div>
                <div class="fraimed-container dashboard__container">
                    <div class="offer">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">UI/UX Designer</a>
                            <div class="offer__date">17.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact offer__contact_opened">Контакт відкрито</div>
                        <div class="offer__menu">
                            {{> dropdown }}
                        </div>
                    </div>
                    <div class="offer">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">Web Designer</a>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact">Чекає на відповідь</div>
                        <div class="offer__menu">
                            {{> dropdown }}
                        </div>
                    </div>
                    <div class="offer">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">Web Designer</a>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact">Чекає на відповідь</div>
                        <div class="offer__menu">
                            {{> dropdown }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__section added-vacancies">
                <div class="h2 dashboard__section-title">Доданi вакансії</div>
                <div class="vacancies__list">
                    <div class="fraimed-container dashboard__container vacancy">
                        <div class="candidate__first-line vacancy__line-first">
                            <div class="candidate__name-rating">
                                <a href="#" class="base__title candidate__name">Senior Backend Developer</a>
                                <div class="candidate__rating">
                                    {{> star }}
                                </div>
                            </div>
                            <div class="candidate__date vacancy__date">12 Годин тому</div>
                            <div class="vacancy__thumbler">
                                <div class="thumbler">
                                    <input id="toggle1" class="thumbler__toggle thumbler__toggle-round vacancy__thumbler-toggle" type="checkbox" checked>
                                    <label for="toggle1" class="thumbler__label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="vacancy__line-second">
                            <div class="vacancy__salary-location">
                                <div class="vacancy__salary">2000-2500$</div>
                                <div class="vacancy__location">Київ</div>
                            </div>
                            <div class="vacancy__trash">
                                {{> trash }}
                            </div>
                        </div>
                        <div class="vacancy__line-third">
                            <div class="vacancy__experience">
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Досвід роботи:</div>
                                    <div class="candidate__item-value">3 роки</div>
                                </div>
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Вид зайнятості:</div>
                                    <div class="candidate__item-value">Remote</div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancy__description">We are looking for a Backend Developer who is motivated to combine the art of design with the art of programming...</div>
                        <ul class="vacancy__tags">
                            <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>
                        </ul>
                        <div class="vacancy__contact-line">
                            <div class="vacancy__contact">
                                <a href="#" class="vacancy__recruiter">Alexander Ruban</a>, <span class="vacancy__position">Ceo</span> в <span class="vacancy__company">Interview.top</span>
                            </div>
                            <a href="#" class="vacancy__comments">5 відгуків</a>
                        </div>
                    </div>
                    <div class="fraimed-container dashboard__container vacancy">
                        <div class="candidate__first-line vacancy__line-first">
                            <div class="candidate__name-rating">
                                <a href="#" class="base__title candidate__name">Senior Backend Developer</a>
                                <div class="candidate__rating">
                                    {{> star }}
                                </div>
                            </div>
                            <div class="candidate__date vacancy__date">12 Годин тому</div>
                            <div class="vacancy__thumbler">
                                <div class="thumbler">
                                    <input id="toggle2" class="thumbler__toggle thumbler__toggle-round vacancy__thumbler-toggle" type="checkbox" checked>
                                    <label for="toggle2" class="thumbler__label"></label>
                                </div>
                            </div>
                        </div>
                        <div class="vacancy__line-second">
                            <div class="vacancy__salary-location">
                                <div class="vacancy__salary">2000-2500$</div>
                                <div class="vacancy__location">Київ</div>
                            </div>
                            <div class="vacancy__trash">
                                {{> trash }}
                            </div>
                        </div>
                        <div class="vacancy__line-third">
                            <div class="vacancy__experience">
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Досвід роботи:</div>
                                    <div class="candidate__item-value">3 роки</div>
                                </div>
                                <div class="candidate__item-line">
                                    <div class="candidate__item-name">Вид зайнятості:</div>
                                    <div class="candidate__item-value">Remote</div>
                                </div>
                            </div>
                        </div>
                        <div class="vacancy__description">We are looking for a Backend Developer who is motivated to combine the art of design with the art of programming...</div>
                        <ul class="vacancy__tags">
                            <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>                                <li class="vacancy__tag">Python</li>
                            <li class="vacancy__tag">Django</li>
                            <li class="vacancy__tag">DRF</li>
                        </ul>
                        <div class="vacancy__contact-line">
                            <div class="vacancy__contact">
                                <a href="#" class="vacancy__recruiter">Alexander Ruban</a>, <span class="vacancy__position">Ceo</span> в <span class="vacancy__company">Interview.top</span>
                            </div>
                            <a href="#" class="vacancy__comments">5 відгуків</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__section scheduled-interviews">
                <div class="h2 dashboard__section-title">Заплановані iнтерв`ю</div>
                <div class="scheduled-interviews__slides">
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Олег Коваленко</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Клим Кравчук</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Олег Коваленко</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Олег Коваленко</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Олег Коваленко</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                    <a href="recruter-search-candidate.html" class="fraimed-container visual interview scheduled-interview">
                        <div class="interview__inner">
                            <div class="interview__info">
                                <div class="scheduled-interview__line-first">
                                    <span class="scheduled-interview__candidate">Олег Коваленко</span>,
                                    <span class="scheduled-interview__position">Backend Developer</span>
                                </div>
                                <div class="scheduled-interview__line-second">
                                    <div class="scheduled-interview__date">21.05.20</div>,
                                    <div class="scheduled-interview__time">11:30</div>
                                </div>
                            </div>
                            <div class="scheduled-interview__comment">Перейти до</div>
                            <button class="the-button scheduled-interview__button">
                                <span class="interview__button-inner">
                                    {{> icon iconName="camera" classNames="camera" }}
                                    {{> icon iconName="zoom" classNames="zoom" }}
                                </span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}