{{> main-header }}
<div class="main-content dashboard__content search-candidates-list">
    <div class="container">
        <section class="search-candidate">
            <h1 class="search-candidate__title">Пошук кандидата</h1>
            <div class="dashboard dashboard__two-columns">
                <div class="inner-container__big dashboard__main">
                    <div class="applicants__search-form">
                        <div class="fraimed-container dashboard__container">
                            {{> search-form }}
                        </div>
                    </div>
                    <div class="applicants__search-results">
                        <div class="applicants__search-description">Знайдено <span class="bold">22</span> резюме</div>
                        <div class="applicants__search-control">
                            Показувати
                        </div>
                    </div>
                    <div class="applicants__list">
                        <div class="applicant">
                            <div class="applicant__info">
                                <div class="fraimed-container dashboard__container">
                                    <div class="candidate">
                                        <div class="candidate__first-line">
                                            <div class="candidate__name-rating">
                                                <a href="#" class="base__title candidate__name">Python Developer</a>
                                                <div class="candidate__rating">
                                                    {{> icon iconName="star_filled" classNames="star" }}
                                                </div>
                                            </div>
                                            <div class="candidate__date">Профiль вiд: 04.10.2020</div>
                                        </div>
                                        <div class="candidate__items">
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Зарплата:</div>
                                                    <div class="candidate__item-value">2000$</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Місто:</div>
                                                    <div class="candidate__item-value">Київ</div>
                                                </div>
                                            </div>
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Досвід роботи:</div>
                                                    <div class="candidate__item-value">3 роки</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Знання мов:</div>
                                                    <div class="candidate__item-value">Intermediate</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidate__more-info">
                                            <div class="base__subtitle more-info">Детальнiше</div>
                                        </div>
                                        <div class="candidate__item-blocks">
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Навички:</div>
                                                <div class="candidate__item-name">JavaScript, Git, HTML5, CSS3, CSS, HTML, jQuery, LESS</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Досягнення:</div>
                                                <div class="candidate__item-name">ISTQB CTF Certification (№ 15-CTFL-72361-03);</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Очікування від роботи:</div>
                                                <div class="candidate__item-name">I expect knowledge and experience</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Додаткова інформація:</div>
                                                <div class="candidate__item-name"><p>Looking for intern/junior web-developer position.</p>
                                                    <p>remote</p>
                                                    <p>Has created a website for the online store with html / css / javascript and JQuerry.</p>
                                                    <p>Created design for a web page</p>
                                                    <p>I have no experience, but I really want to work in the IT field. I really like the development</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="applicant">
                            <div class="applicant__info">
                                <div class="fraimed-container dashboard__container">
                                    <div class="candidate">
                                        <div class="candidate__first-line">
                                            <div class="candidate__name-rating">
                                                <a href="#" class="base__title candidate__name">Python Developer</a>
                                                <div class="candidate__rating">
                                                    {{> icon iconName="star_filled" classNames="star" }}
                                                </div>
                                            </div>
                                            <div class="candidate__date">Профiль вiд: 04.06.2020</div>
                                        </div>
                                        <div class="candidate__items">
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Зарплата:</div>
                                                    <div class="candidate__item-value">1800$</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Місто:</div>
                                                    <div class="candidate__item-value">Київ</div>
                                                </div>
                                            </div>
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Досвід роботи:</div>
                                                    <div class="candidate__item-value">3 роки</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Знання мов:</div>
                                                    <div class="candidate__item-value">Upper-intermediate</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidate__more-info">
                                            <div class="base__subtitle more-info">Детальнiше</div>
                                        </div>
                                        <div class="candidate__item-blocks">
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Навички:</div>
                                                <div class="candidate__item-name">JavaScript, Git, HTML5, CSS3, CSS, HTML, jQuery, LESS</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Досягнення:</div>
                                                <div class="candidate__item-name">ISTQB CTF Certification (№ 15-CTFL-72361-03);</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Очікування від роботи:</div>
                                                <div class="candidate__item-name">I expect knowledge and experience</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Додаткова інформація:</div>
                                                <div class="candidate__item-name"><p>Looking for intern/junior web-developer position.</p>
                                                    <p>remote</p>
                                                    <p>Has created a website for the online store with html / css / javascript and JQuerry.</p>
                                                    <p>Created design for a web page</p>
                                                    <p>I have no experience, but I really want to work in the IT field. I really like the development</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="applicant">
                            <div class="applicant__info">
                                <div class="fraimed-container dashboard__container">
                                    <div class="candidate">
                                        <div class="candidate__first-line">
                                            <div class="candidate__name-rating">
                                                <a href="#" class="base__title candidate__name">Python Developer</a>
                                                <div class="candidate__rating">
                                                    {{> icon iconName="star_filled" classNames="star" }}
                                                </div>
                                            </div>
                                            <div class="candidate__date">Профiль вiд: 04.01.2020</div>
                                        </div>
                                        <div class="candidate__items">
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Зарплата:</div>
                                                    <div class="candidate__item-value">2200$</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Місто:</div>
                                                    <div class="candidate__item-value">Київ</div>
                                                </div>
                                            </div>
                                            <div class="candidate__item">
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Досвід роботи:</div>
                                                    <div class="candidate__item-value">4 роки</div>
                                                </div>
                                                <div class="candidate__item-line">
                                                    <div class="candidate__item-name">Знання мов:</div>
                                                    <div class="candidate__item-value">Intermediate</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="candidate__more-info">
                                            <div class="base__subtitle more-info">Детальнiше</div>
                                        </div>
                                        <div class="candidate__item-blocks">
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Навички:</div>
                                                <div class="candidate__item-name">JavaScript, Git, HTML5, CSS3, CSS, HTML, jQuery, LESS</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Досягнення:</div>
                                                <div class="candidate__item-name">ISTQB CTF Certification (№ 15-CTFL-72361-03);</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Очікування від роботи:</div>
                                                <div class="candidate__item-name">I expect knowledge and experience</div>
                                            </div>
                                            <div class="candidate__item-block">
                                                <div class="candidate__item-value">Додаткова інформація:</div>
                                                <div class="candidate__item-name"><p>Looking for intern/junior web-developer position.</p>
                                                    <p>remote</p>
                                                    <p>Has created a website for the online store with html / css / javascript and JQuerry.</p>
                                                    <p>Created design for a web page</p>
                                                    <p>I have no experience, but I really want to work in the IT field. I really like the development</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-container__small dashboard__aside">
                    <div class="fraimed-container dashboard__container">
                </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}