{{> main-header }}
<div class="main-content search-candidate__content">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#" class="breadcrumbs__link">Кандидат</a> / <a href="#" class="breadcrumbs__link">Python</a>
        </div>
        <section class="search-candidate">
            <h1 class="search-candidate__title">Кандидат</h1>
            <div class="applicant">
                <div class="applicant__text-info">
                    <div class="inner-container__big applicant__info">
                        <div class="fraimed-container dashboard__container">
                            <div class="candidate">
                                <div class="candidate__first-line">
                                    <a href="#" class="base__title candidate__name">Python Developer</a>
                                    <div class="candidate__date">Профiль вiд: 04.06.2020</div>
                                </div>
                                <div class="candidate__items">
                                    <div class="candidate__item">
                                        <div class="candidate__item-line">
                                            <div class="candidate__item-name">Зарплата:</div>
                                            <div class="candidate__item-value">2000$</div>
                                        </div>
                                        <div class="candidate__item-line">
                                            <div class="candidate__item-name">Місто:</div>
                                            <div class="candidate__item-value">Київ</div>
                                        </div>
                                    </div>
                                    <div class="candidate__item">
                                        <div class="candidate__item-line">
                                            <div class="candidate__item-name">Досвід роботи:</div>
                                            <div class="candidate__item-value">3 роки</div>
                                        </div>
                                        <div class="candidate__item-line">
                                            <div class="candidate__item-name">Знання мов:</div>
                                            <div class="candidate__item-value">Upper-intermediate</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="candidate__more-info">
                                    <div class="base__subtitle more-info">Детальнiше</div>
                                </div>
                                <div class="candidate__item-blocks">
                                    <div class="candidate__item-block">
                                        <div class="candidate__item-value">Навички:</div>
                                        <div class="candidate__item-name">JavaScript, Git, HTML5, CSS3, CSS, HTML, jQuery, LESS</div>
                                    </div>
                                    <div class="candidate__item-block">
                                        <div class="candidate__item-value">Досягнення:</div>
                                        <div class="candidate__item-name">ISTQB CTF Certification (№ 15-CTFL-72361-03);</div>
                                    </div>
                                    <div class="candidate__item-block">
                                        <div class="candidate__item-value">Очікування від роботи:</div>
                                        <div class="candidate__item-name">I expect knowledge and experience</div>
                                    </div>
                                    <div class="candidate__item-block">
                                        <div class="candidate__item-value">Додаткова інформація:</div>
                                        <div class="candidate__item-name"><p>Looking for intern/junior web-developer position.</p>
                                            <p>remote</p>
                                            <p>Has created a website for the online store with html / css / javascript and JQuerry.</p>
                                            <p>Created design for a web page</p>
                                            <p>I have no experience, but I really want to work in the IT field. I really like the development</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="more-applicants">
                            <div class="base__subtitle more-applicants__title">Cхожi кандидати:</div>
                            <div class="more-applicants__slides">
                                <a href="#" class="slide fraimed-container">
                                    <div class="slide__position">Python Developer</div>
                                    <div class="vacancy__location slide__location">Київ</div>
                                    <div class="slide__last-line">
                                        <div class="slide__salary">2200$</div>
                                        <div class="slide__more-info">
                                            <img src="./images/more-info_gray.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="slide fraimed-container">
                                    <div class="slide__position">Python Developer</div>
                                    <div class="vacancy__location slide__location">Одесса</div>
                                    <div class="slide__last-line">
                                        <div class="slide__salary">2200$</div>
                                        <div class="slide__more-info">
                                            <img src="./images/more-info_gray.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="slide fraimed-container">
                                    <div class="slide__position">Python Developer</div>
                                    <div class="vacancy__location slide__location">Івано-Франківськ</div>
                                    <div class="slide__last-line">
                                        <div class="slide__salary">2200$</div>
                                        <div class="slide__more-info">
                                            <img src="./images/more-info_gray.png" alt="">
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="slide fraimed-container">
                                <div class="slide__position">Python Developer</div>
                                <div class="vacancy__location slide__location">Житомир</div>
                                <div class="slide__last-line">
                                <div class="slide__salary">2200$</div>
                                <div class="slide__more-info">
                                <img src="./images/more-info_gray.png" alt="">
                                </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="inner-container__small applicant__card">
                        <div class="fraimed-container dashboard__container">
                            <div class="applicant__image">
                                <img src="./images/applicant.png" alt="">
                            </div>
                            <div class="applicant__person">
                                <div class="applicant__name-surname">
                                    <div class="applicant__name">Дмитро</div>
                                    <div class="applicant__surname">Пенчук</div>
                                </div>
                                <div class="applicant__social-media">
                                    {{> social-media }}
                                </div>
                                <div class="applicant__contacts">
                                    <div class="base__notes applicant__phone">(093) 093-0520</div>
                                    <div class="base__notes applicant__email">RandomEmail@gmail.com</div>
                                </div>
                            </div>
                            <div class="applicant__button-wrap">
                                <button class="the-button applicant__button">Завантажити CV</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="applicant__interview">
                    <div class="applicant__interview-left">
                        <h2 class="applicant__interview-title">Інтерв`ю</h2>
                        <div class="fraimed-container applicant__interview-video">
                            <video class="video" controls="">
                                <source class="video-iframe" src="http://sitesdepot.ru/wp-rizor-hover/wp-content/uploads/2020/01/rizor-hover2.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="applicant__interview-right">
                            <div class="base__subtitle applicant__answers-title">Запитання:</div>
                            <div class="fraimed-container applicant__answers-wrap">
                                <ol class="applicant__answers">
                                    <li class="applicant__answer">
                                        <div class="applicant__answer-text">Что такое Virtual DOM?</div>
                                        <div class="base__notes applicant__answer-time">27:00</div>
                                    </li>
                                    <li class="applicant__answer">
                                        <div class="applicant__answer-text">Что такое Shadow DOM?</div>
                                        <div class="base__notes applicant__answer-time">27:45</div>
                                    </li>
                                    <li class="applicant__answer">
                                        <div class="applicant__answer-text">Как бы ты правильно реализовал список из 1000 элементов, который получает данные через Redux?</div>
                                        <div class="base__notes applicant__answer-time">28:23</div>
                                    </li>
                                    <li class="applicant__answer">
                                        <div class="applicant__answer-text">С какой сложной проблемой столкнулся и как решал?</div>
                                        <div class="base__notes applicant__answer-time">33:18</div>
                                    </li>
                                    <li class="applicant__answer">
                                        <div class="applicant__answer-text">Какаие способы оптимизации в ReactJS существуют?</div>
                                        <div class="base__notes applicant__answer-time">35:41</div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}