{{> main-header }}
<div class="main-content dashboard__content">
    <div class="container">
        <section class="dashboard">
            <div class="dashboard__section selected-candidates">
                <div class="h2 dashboard__section-title">Выбранные кондидаты</div>
                <div class="fraimed-container dashboard__container">
                    <div class="candidate__first-line">
                        <div class="candidate__name">Дмитро Пенчук</div>
                        <div class="candidate__registration-date">Вiд: 04.06.2020</div>
                    </div>
                    <div class="candidate__items">
                        <div class="candidate__item">
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Зарплата:</div>
                                <div class="candidate__item-value">2000$</div>
                            </div>
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Місто:</div>
                                <div class="candidate__item-value">Київ</div>
                            </div>
                        </div>
                        <div class="candidate__item">
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Позиція:</div>
                                <div class="candidate__item-value">UI/UX Designer</div>
                            </div>
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Досвід роботи:</div>
                                <div class="candidate__item-value">2 роки</div>
                            </div>
                        </div>
                        <div class="candidate__item">
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Вид зайнятості:</div>
                                <div class="candidate__item-value">Part-time</div>
                            </div>
                            <div class="candidate__item-line">
                                <div class="candidate__item-name">Знання мов:</div>
                                <div class="candidate__item-value">Upper-intermedia</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__section sent-offers">
                <div class="h2 dashboard__section-title">Надіслані пропозиції</div>
                <div class="fraimed-container dashboard__container">
                    <div class="offer">
                        <div class="offer__intro">
                            <div class="offer__title">UI/UX Designer</div>
                            <div class="offer__date">17.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact offer__contact_opened">Контакт відкрито</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                    <div class="offer">
                        <div class="offer__intro">
                            <div class="offer__title">Web Designer</div>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact">Чекає на відповідь</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                    <div class="offer">
                        <div class="offer__intro">
                            <div class="offer__title">Web Designer</div>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__description">Текст</div>
                        <div class="offer__contact">Чекає на відповідь</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__section added-vacancies">
                <div class="h2 dashboard__section-title">Доданi вакансії</div>
                <div class="fraimed-container dashboard__container">

                </div>
            </div>
            <div class="dashboard__section scheduled-interviews">
                <div class="h2 dashboard__section-title">Заплановані Інтерв`ю</div>
                <div class="fraimed-container dashboard__container">

                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}