{{> main-header }}
<div class="main-content dashboard__content">
    <div class="container">
        <section class="dashboard">
            <div class="dashboard__section sent-offers">
                <div class="base__title dashboard__alert">Ви повинні оплатити всі найми перед тим як продовжити користуватися сервісом</div>
                <div class="fraimed-container dashboard__container">
                    <div class="offer recruitment-list">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">С++/Qt Developer</a>
                            <div class="offer__date">17.05.2020</div>
                        </div>
                        <div class="offer__recruiter">Alexander Ruban</div>
                        <div class="offer__comission">$800</div>
                        <div class="offer__contact offer__contact_opened">Сплачено</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                    <div class="offer recruitment-list">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">Python Developer</a>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__recruiter">Alexander Ruban</div>
                        <div class="offer__comission">$750</div>
                        <div class="offer__contact offer__contact_alert">Чекає на оплату</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                    <div class="offer recruitment-list">
                        <div class="offer__intro">
                            <a href="#" class="base__subtitle offer__title">Web Designer</a>
                            <div class="offer__date">16.05.2020</div>
                        </div>
                        <div class="offer__recruiter">Alexander Ruban</div>
                        <div class="offer__comission">$500</div>
                        <div class="offer__contact offer__contact_alert">Чекає на оплату</div>
                        <div class="offer__menu">
                            {{> icon iconName="verticalburger_black" classNames="offer-menu" }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{> main-footer }}