{{> main-header }}
    <div class="main-content">
        <div class="container">
           <section class="frame registration">
                <h1 class="registration__title">Реєстрацiя</h1>
               <div class="registration__form">
                   {{> reg-form }}
               </div>
           </section>
        </div>
    </div>
{{> main-footer }}