.search-form {
  &__find {
    display: flex;
    margin-bottom: 22px;

    @media(max-width: 399px) {
      flex-direction: column;
    }
  }

  &__input {
    border: 1px solid #9090AB;
    box-sizing: border-box;
    border-radius: 2px 0 0 2px;
    width: 100%;
    height: 100%;
    padding: 5px 20px 5px 43px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $black;

    @media(max-width: 575px) {
      padding: 0 20px;
    }
    
    &-wrap {
      position: relative;
      width: 100%;
      height: 50px;

      @media(max-width: 767px) {
        height: 36px;
      }
      
      &:before {
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../images/search.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 19px;
        height: 20px;

        @media(max-width: 575px) {
          display: none;
        }
      }
    }
  }

  &__button {
    border-radius: 0 2px 2px 0;

    @media(max-width: 767px) {
      height: 36px;
    }

    @media(max-width: 575px) {
      padding: 10px 15px;
    }

    @media(max-width: 399px) {
      margin-top: 5px;
    }

  }

  &__selectors {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $black;
    margin-bottom: 16px;
    display: flex;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    @media(max-width: 479px) {
      font-size: 14px;
      line-height: 1.2;
    }

    &-left {
      @media(max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }

  &__select {
    background-color: #fff;
    line-height: 2;
    border: transparent;
    font-weight: 400;
    color: $blue;
    margin: 0 19px 0 -7px;
    max-width: 155px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media(max-width: 479px) {
      width: 100px;
    }

    @media(max-width: 1099px) {
      margin: 0 10px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    position: relative;
    color: $blue;
    border: 1px solid #5B5CEE;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 4px 27px 4px 6px;
    margin-right: 8px;
    margin-bottom: 5px;

    &:after {
      content: '';
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 13px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/close.svg);
    }
  }
}