<form action="" class="search-form">
    <div class="search-form__find">
        <div class="search-form__input-wrap">
            <input name="prof" type="text" placeholder="Вкажіть ключові слова для пошуку" class="search-form__input">
        </div>
        <button class="the-button search-form__button">Шукати</button>
    </div>
    <div class="search-form__selectors">
        <div class="search-form__selectors-left">
            Шукати у
            <select name="where" class="base__subtitle search-form__select">
                <option value="1">назвi в резюме</option>
                <option value="2">вибiр 2</option>
                <option value="3">якийся довгий селектор, що не влазить в екран</option>
            </select>
        </div>
        <div class="search-form__selectors-right">
            за
            <select name="period" class="base__subtitle search-form__select">
                <option value="1">3 місяці</option>
                <option value="2">6 місяців</option>
                <option value="3">якийся довгий селектор, що не влазить в екран</option>
            </select>
        </div>
    </div>
    <div class="search-form__tags">
        <div class="base__notes search-form__tag">Київ</div>
        <div class="base__notes search-form__tag">Python</div>
        <div class="base__notes search-form__tag">1000-2200$</div>
        <div class="base__notes search-form__tag">Upper-intermedia</div>
        <div class="base__notes search-form__tag">Intermedia</div>
    </div>
</form>