<form action="" class="recruitment-form">
    <div class="recruitment-form__line">
        <div class="recruitment-form__label" for="release-date">Дата виходу</div>
        <input type="text" class="recruitment-form__field" id="release-date"  value="21.06.2020">
    </div>
    <div class="recruitment-form__line">
        <div class="recruitment-form__label" for="email">Email кандидата
            або оберіть його зі списку</div>
        <input type="text" class="recruitment-form__field" id="email" value="RandomEmail@gmail.com">
    </div>
    <div class="recruitment-form__candidates">
        <li class="recruitment-form__candidate">
            <input name="candidate" class="radio__input" type="radio" id="cand1" value="cand1" checked="">
            <label for="cand1" class="radio__label  radio__label_candidate recruitment-form__candidate-wrap">
                <div  class="recruitment-form__candidate-image">
                    <img src="./images/cand1.png" alt="">
                </div>
            </label>
            <div class="recruitment-form__candidate-text">
                <a href="#" class="recruitment-form__candidate-name">Дмитро Пенчук</a>
                <div class="recruitment-form__candidate-position">HR in Interview.top</div>
                <div class="recruitment-form__candidate-date">21.05.20</div>
            </div>

        </li>
        <li class="recruitment-form__candidate">
            <input name="candidate" class="radio__input" type="radio" id="cand2" value="cand2" checked="">
            <label for="cand2" class="radio__label  radio__label_candidate recruitment-form__candidate-wrap">
                <div  class="recruitment-form__candidate-image">
                    <img src="./images/cand2.png" alt="">
                </div>
            </label>
            <div class="recruitment-form__candidate-text">
                <a href="#" class="recruitment-form__candidate-name">Дмитро Пенчук</a>
                <div class="recruitment-form__candidate-position">HR in Interview.top</div>
                <div class="recruitment-form__candidate-date">21.05.20</div>
            </div>

        </li>
    </div>
    <button class="the-button recruitment-form__submit">Пiдтвердити</button>
</form>