.dashboard {

  &__two-columns {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1099px) {
      flex-direction: column-reverse;
    }
  }

  &__main {
    @media(max-width: 1099px) {
      max-width: 100%;
    }
  }

  &__aside {
    @media(max-width: 1099px) {
      max-width: 100%;
      margin-bottom: 54px;
    }
  }

  &__content {
    padding: 100px 0;

    @media(max-width: 991px) {
      padding: 80px 0;
    }

    @media(max-width: 575px) {
      padding: 50px 0;
    }
  }

  &__section {
    margin-bottom: 98px;

    @media(max-width: 991px) {
      margin-bottom: 50px;
    }
  }

  &__container {
    padding: 26px 32px 20px;

    @media(max-width: 575px) {
      padding: 20px;
    }
  }

  &__alert {
    font-weight: 400;
    color: $red;
    border: 2px solid $red;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 10px 20px rgba(252, 54, 101, 0.04);
    border-radius: 3px;
    padding: 8px 14px;
    letter-spacing: 0.045em;
    display: flex;
    margin-bottom: 29px;

    @media(max-width: 1099px) {
      font-size: 14px;
      line-height: 1.2;
      align-items: center;
    }

    &:before {
      content: '';
      width: 21px;
      height: 18px;
      display: block;
      background-image: url(../images/alert.svg);
      background-position: center;
      background-repeat: no-repeat;
      padding: 5px 15px 0;
    }
  }

  &__recruitment-form {
    margin: 17px 43px;

    @media(max-width: 575px) {
      margin: 0;
    }
  }
}

.sent-offers {
  .dashboard__container {
    padding: 5px 33px 12px;

    @media(max-width: 575px) {
      padding: 5px 20px 12px;
    }
  }

  .dashboard__section {
    margin-bottom: 99px;
  }
}

.inform-recruitment {
  &__title {
    padding-bottom: 11px;
  }

  &__subtitle {
    color: $black;
    font-weight: 400;
    letter-spacing: 0.045em;
    margin-bottom: 20px;
  }
}

.offer-menu {
  width: 24px;
  height: 24px;
}

.search-candidate {
  &__filters {
    margin-bottom: 19px;
  }

  &__subscribes {
    padding-bottom: 0;

    .filter {
      border-bottom: none;
    }
  }
}
