/* using on registration.html */

.social-link {
  width: 15px;
  height: 15px;
  fill: $blue;
}

/* using on main-header */
.notice {
  width: 24px;
  height: 24px;
}

/* using on candidate-settings */
.e-settings {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: $lightgray;

  &_trash {
    stroke: $red;
  }
}