/* using on registration.html */

.social-link {
  width: 15px;
  height: 15px;
  fill: $blue;
}

/* using on main-header */
.notice {
  width: 24px;
  height: 24px;
}

/* using on candidate-settings */
.e-settings {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: $lightgray;

  &_trash {
    stroke: $red;
  }
}

/* sing on candidates-profile */
.cloud {
  fill-opacity: 0;
  width: 13px;
  height: 13px;
  margin: 1px 0 0 7px;
}

/* sing on recruiter-dashboard */
.camera {
  width: 27px;
  height: 14px;
  fill: $blue;
}

.zoom {
  width: 61px;
  height: 14px;
  fill: $blue;
}

.plus-icon {
  fill-opacity: 0;
  width: 13px;
  height: 13px;
  margin-left: 10px;
}