<div class="filters">
    <div class="filters__group">
        <div class="filter specialization">
        <div class="base__subtitle filter__title title_active">Cпеціалізації</div>
        <div class="filter__body" style="display: block;">
            <ul class="filter__checkboxes">
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec1" value="JavaScript" checked>
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>JavaScript</span>
                    </label>
                    <div class="filter__quantity">12</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec2" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec3" value="Front-End / HTML">
                    <label for="spec3" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec4" value="Front-End / HTML">
                    <label for="spec4" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec4" value="Front-End / HTML">
                    <label for="spec4" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec5" value="Front-End / HTML">
                    <label for="spec5" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <input name="specialization" class="radio__input" type="radio" id="spec1" value="JavaScript">
                        <span>JavaScript</span>
                    </label>
                    <div class="filter__quantity">12</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec2" value="Front-End / HTML">
                    <label for="spec1" class="filter__checkbox radio__label">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <input name="specialization" class="radio__input" type="radio" id="spec24" value="Support">
                    <label for="spec24" class="filter__checkbox radio__label">
                        <span>Support</span>
                    </label>
                    <div class="filter__quantity">26</div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="filters__group">
        <div class="filter location">
            <div class="base__subtitle filter__title">Місто</div>
            <div class="filter__body">
                <div class="filter__container">
                    <select name="where" class="base__subtitle filter__select">
                        <option disabled selected>Оберіть мiсто</option>
                        <option value="Вінниця">Вінниця</option>
                        <option value="Дніпро">Дніпро</option>
                        <option value="Донецьк">Донецьк</option>
                        <option value="Житомир">Житомир</option>
                        <option value="Запоріжжя">Запоріжжя</option>
                        <option value="Івано-Франківськ">Івано-Франківськ</option>
                        <option value="Київ">Київ</option>
                        <option value="Кропивницький">Кропивницький</option>
                        <option value="Луганськ">Луганськ</option>
                        <option value="Луцьк">Луцьк</option>
                        <option value="Львів">Львів</option>
                        <option value="Миколаїв">Миколаїв</option>
                        <option value="Одеса">Одеса</option>
                        <option value="Полтава">Полтава</option>
                        <option value="Рівне">Рівне</option>
                        <option value="Сімферополь">Сімферополь</option>
                        <option value="Суми">Суми</option>
                        <option value="Тернопіль">Тернопіль</option>
                        <option value="Ужгород">Ужгород</option>
                        <option value="Харків">Харків</option>
                        <option value="Херсон">Херсон</option>
                        <option value="Хмельницький">Хмельницький</option>
                        <option value="Черкаси">Черкаси</option>
                        <option value="Чернівці">Чернівці</option>
                        <option value="Чернігів">Чернігів</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="filter experience">
            <div class="base__subtitle filter__title">Досвід роботи</div>
            <div class="filter__body">
                <div class="filter__container">
                    Вiд <input type="text" class="filter__input"> рокiв
                </div>
            </div>
        </div>
        <div class="filter employment">
            <div class="base__subtitle filter__title">Вид зайнятості</div>
            <div class="filter__body">
                <div class="filter__container">
                    <ul class="filter__employment-items">
                        <li class="filter__employment-item">
                            <input name="employment" type="radio" id="employment3" value="Freelance" class="button__radio" checked>
                            <label for="employment3" class="filter__skill-checkbox button__label">
                                <span>Freelance</span>
                            </label>
                        </li>
                        <li class="filter__employment-item">
                            <input name="employment" type="radio" id="employment1" value="Full-time" class="button__radio">
                            <label for="employment1" class="filter__skill-checkbox button__label">
                                <span>Full-time</span>
                            </label>
                        </li>
                        <li class="filter__employment-item">
                            <input name="employment" type="radio" id="employment2" value="Part-time" class="button__radio">
                            <label for="employment2" class="filter__skill-checkbox button__label">
                                <span>Part-time</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter english-skills">
            <div class="base__subtitle filter__title">Рівень англійської</div>
            <div class="filter__body">
                <div class="filter__container">
                    <ul class="filter__skills">
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill1" value="None">
                            <label for="skill1" class="filter__skill-checkbox radio__label">
                                <span>None</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill2" value="Beginer">
                            <label for="skill2" class="filter__skill-checkbox radio__label">
                                <span>Beginer</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill3" value="Pre-intermediate">
                            <label for="skill3" class="filter__skill-checkbox radio__label">
                                <span>Pre-intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill4" value="Intermediate">
                            <label for="skill4" class="filter__skill-checkbox radio__label">
                                <span>Intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill5" value="Upper-intermediate">
                            <label for="skill5" class="filter__skill-checkbox radio__label">
                                <span>Upper-intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <input name="skills" type="radio" class="radio__input" id="skill6" value="Advanced/Fluent">
                            <label for="skill6" class="filter__skill-checkbox radio__label">
                                <span>Advanced/Fluent</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter relocation">
            <div class="base__subtitle filter__title">Можливість переїзду</div>
            <div class="filter__body">
                <div class="filter__container">
                    <ul class="filter__relocation">
                        <li class="filter__relocation-item">
                            <input id="relocation1" class="thumbler__toggle thumbler__toggle-round" type="checkbox">
                            <label for="relocation1"><span class="thumbler__title">Remote</span></label>
                        </li>
                        <li class="filter__relocation-item">
                            <input id="relocation2" class="thumbler__toggle thumbler__toggle-round" type="checkbox">
                            <label for="relocation2"><span class="thumbler__title">Relocate</span></label>
                        </li>
                        <li class="filter__relocation-item">
                            <input id="relocation3" class="thumbler__toggle thumbler__toggle-round" type="checkbox">
                            <label for="relocation3"><span class="thumbler__title">Other city</span></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter salary">
            <div class="base__subtitle filter__title title_active">Бажана зарплатня</div>
            <div class="filter__body" style="display: block">
                {{> salary-filter }}
            </div>
        </div>
    </div>
</div>