<div class="filters">
    <div class="filters__group">
        <div class="filter specialization">
        <div class="base__subtitle filter__title title_active">Cпеціалізації</div>
        <div class="filter__body" style="display: block;">
            <ul class="filter__checkboxes">
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec1" value="JavaScript">
                        <span>JavaScript</span>
                    </label>
                    <div class="filter__quantity">12</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec1" value="JavaScript">
                        <span>JavaScript</span>
                    </label>
                    <div class="filter__quantity">12</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec1" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec2" value="Front-End / HTML">
                        <span>Front-End / HTML</span>
                    </label>
                    <div class="filter__quantity">34</div>
                </li>
                <li class="base__notes filter__checkboxes-item">
                    <label for="spec24" class="filter__checkbox">
                        <input name="specialization" type="radio" id="spec24" value="Support">
                        <span>Support</span>
                    </label>
                    <div class="filter__quantity">26</div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="filters__group">
        <div class="filter location">
            <div class="base__subtitle filter__title title_active">Місто</div>
            <div class="filter__body" style="display: block">
                <div class="filter__container">
                    <select name="where" class="base__subtitle filter__select">
                        <option disabled selected>Оберіть мiсто</option>
                        <option value="Вінниця">Вінниця</option>
                        <option value="Дніпро">Дніпро</option>
                        <option value="Донецьк">Донецьк</option>
                        <option value="Житомир">Житомир</option>
                        <option value="Запоріжжя">Запоріжжя</option>
                        <option value="Івано-Франківськ">Івано-Франківськ</option>
                        <option value="Київ">Київ</option>
                        <option value="Кропивницький">Кропивницький</option>
                        <option value="Луганськ">Луганськ</option>
                        <option value="Луцьк">Луцьк</option>
                        <option value="Львів">Львів</option>
                        <option value="Миколаїв">Миколаїв</option>
                        <option value="Одеса">Одеса</option>
                        <option value="Полтава">Полтава</option>
                        <option value="Рівне">Рівне</option>
                        <option value="Сімферополь">Сімферополь</option>
                        <option value="Суми">Суми</option>
                        <option value="Тернопіль">Тернопіль</option>
                        <option value="Ужгород">Ужгород</option>
                        <option value="Харків">Харків</option>
                        <option value="Херсон">Херсон</option>
                        <option value="Хмельницький">Хмельницький</option>
                        <option value="Черкаси">Черкаси</option>
                        <option value="Чернівці">Чернівці</option>
                        <option value="Чернігів">Чернігів</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="filter experience">
            <div class="base__subtitle filter__title title_active">Досвід роботи</div>
            <div class="filter__body" style="display: block">
                <div class="filter__container">
                    Вiд <input type="text" class="filter__input"> рокiв
                </div>
            </div>
        </div>
        <div class="filter employment">
            <div class="base__subtitle filter__title title_active">Вид зайнятості</div>
            <div class="filter__body" style="display: block">
                <div class="filter__container">
                    <ul class="filter__skills">
                        <li class="filter__skill">
                            <label for=employment1" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id=employment1" value="Full-time">
                                <span>Повна</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for=employment2" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id=employment2" value="Part-time">
                                <span>Часткова</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for=employment3" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id=employment3" value="Project">
                                <span>Попроектна</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter english-skills">
            <div class="base__subtitle filter__title title_active">Рівень англійської</div>
            <div class="filter__body" style="display: block">
                <div class="filter__container">
                    <ul class="filter__skills">
                        <li class="filter__skill">
                            <label for="skill1" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill1" value="None">
                                <span>None</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for="skill2" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill2" value="Beginer">
                                <span>Beginer</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for="skill3" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill3" value="Pre-intermediate">
                                <span>Pre-intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for="skill4" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill4" value="Intermediate">
                                <span>Intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for="skill5" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill5" value="Upper-intermediate">
                                <span>Upper-intermediate</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for="skill6" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id="skill6" value="Advanced/Fluent">
                                <span>Advanced/Fluent</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter relocation">
            <div class="base__subtitle filter__title title_active">Можливість переїзду</div>
            <div class="filter__body" style="display: block">
                <div class="filter__container">
                    <ul class="filter__skills">
                        <li class="filter__skill">
                            <label for=relocation1" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id=relocation1" value="Yes">
                                <span>Так</span>
                            </label>
                        </li>
                        <li class="filter__skill">
                            <label for=relocation2" class="filter__skill-checkbox">
                                <input name="specialization" type="radio" id=relocation2" value="No">
                                <span>Нi</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter salary">
            <div class="base__subtitle filter__title title_active">Бажана зарплатня</div>
            <div class="filter__body" style="display: block">
                {{> rangeslider }}
            </div>
        </div>
    </div>
</div>