.candidates-profile {

  &__headline {
    display: flex;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  &__import {
    position: relative;
  }

  &__activation {
    position: absolute;
    right: 0;
    top: 13px;

    @media(max-width: 767px) {
      top: 0;
    }

    &-title {
      display: block;
      padding-left: 40px;
      margin-top: 1px;
      white-space: nowrap;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.05em;
      margin-left: -186px;
      color: $lightgray;

      @media(max-width: 399px) {
        display: none;
      }
    }
  }

  .thumbler__toggle-round:checked + label>.candidates-profile__activation-title {
    color: $blue;
  }

  &__button {
    font-size: 12px;
    line-height: 1.25;
    border: 1px solid $blue;
    color: $blue;
    border-radius: 2px;
    padding: 4px 8px;
    background-color: transparent;
    box-shadow: none;
    align-self: flex-start;
    margin-top: 4px;
    margin-left: 20px;

    @media(max-width: 991px) {
      margin-top: 0;
    }

    @media(max-width: 767px) {
      margin-left: 0;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  &__upload {
    margin-bottom: 24px;

    &-form {
      padding: 12px 42px;

      @media(max-width: 767px) {
        padding: 0;
      }
    }

    &-container {
      padding: 26px 32px 28px;

      @media(max-width: 767px) {
        padding: 20px 20px 30px 20px;
      }
    }

  }

  &__worksheet {

    &-form {
      padding: 0 0 20px 0;

      @media(max-width: 575px) {
        padding: 0;
      }
    }

    &-container {
      padding: 0 0 60px 0;

      @media(max-width: 767px) {
        //padding: 0 20px 30px 20px;
        padding: 0 0 30px 0;
      }
    }
  }
}
