* {
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input{
  border: 0;
  outline: 0;
}

html,
body {
  min-height: 100%;
}

html {
  font: 400 16px/1.4 'Inter', sans-serif;
  color: $gray;
  letter-spacing: 0.03em;
}

body{
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

hr {
  border-top: 0;
  border-color: #8c8c8c;
}

a {
  color: $blue;;
  cursor: default;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a[href] {
  cursor: pointer;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
  transition: $delay;
}

h1, .h1,
h2, .h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: $black;
  padding-bottom: 30px;

  @media (max-width: 991px) {
    font-size: 22px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
  }

}

.base {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;

    @media(max-width: 575px) {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: $blue;

    @media(max-width: 575px) {
      font-size: 14px;
    }
  }

  &__notes {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.05em;
  }
}

.breadcrumbs {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

.bold {
  font-weight: 600;
}

.hidden575 {
  @media(max-width: 575px) {
    display: none;
  }
}