.main-header {
  background: linear-gradient(265.99deg, #191C36 0%, #212B4C 100%);
  padding: 25px 0 24px;

  @media(max-width: 991px) {
    padding: 5px 0;
  }

  &__menu-toggle {
    display: none;

    @media(max-width: 767px) {
      display: block;
      z-index: 201;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: 0.05em;
    color: #FFF;
    text-decoration: none;

    @media(max-width: 991px) {
      font-size: 24px;
    }
  }

  &__nav {
    margin-top: -1px;
    margin-left: 86px;

    @media(max-width: 1199px) {
      margin-left: 0;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-right: -12px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-left: 0;
    }

    &-menu {
      margin-right: -3px;
      text-decoration: none;
      display: none;

      @media(max-width: 767px) {
        margin-right: 0;
      }
      
      .dropdown {

        &__icon {
          span, 
          &:before,
          &:after {
            background-color: #fff;
          }
        }

        &__container {
          margin: 22px 8px 0 0;
          padding: 17px 32px 6px 22px;
        }

        &__item {
          margin-bottom: 14px;
        }

        &__link {
          display: flex;
          align-items: center;

          &:before {
            content: '';
            width: 24px;
            height: 24px;
            display: block;
            background-image: url(../images/settings.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 4px;
          }

          &_alert {
            color: $red;

            &:before {
              background-image: url(../images/power.svg);
            }
          }
        }
      }
    }

    &-auth {
      text-decoration: none;
      color: #fff;
    }

    &-notices {
      display: none;
      text-decoration: none;
      color: #fff;

      .dropdown {

        &__icon {
          span,
          &:before,
          &:after {
            background-color: transparent;
          }
        }

        &__container {
          min-width: 307px;
          width: 100%;
          margin: 20px -7px 0 0;
          padding: 23px 0 4px;
          z-index: 25;

          @media(max-width: 374px) {
            right: -35px;
          }
        }

        &__title {
          color: $black;
          white-space: nowrap;
          margin-bottom: 14px;
          padding-left: 27px;
        }

        &__message {
          display: flex;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.25;
          letter-spacing: 0.05em;
          color: $black;
          background-color: #fefeff;
          padding: 17px 26px;
          border-top: 1px solid #E6ECF4;

          &-name {
            display: block;
            font-weight: 600;
            color: $blue;
            text-decoration: none;
            margin-top: 2px;
            margin-bottom: 8px;

            &:hover {
              text-decoration: underline;
            }
          }

          &-text {
            margin-left: 20px;
          }

          &-description {

          }
        }
      }
    }

    &-icon {
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2px 0 20px;
      text-decoration: none;
      pointer-events: none;

      @media(max-width: 767px) {
        display: none;
      }
    }

    &-inner {
      width: 50px;
      height: 50px;
      background-image: url(../images/user_unknown.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &.logged {
      margin-right: 0;
      margin-left: 13px;

      .main-header__user-auth {
        display: none;
      }

      .main-header__user-notices {
        display: block;
        margin-top: -5px;

        @media(max-width: 767px) {
          margin-top: 0;
          margin-right: 10px;
        }
      }

      .main-header__user-icon {
        margin: 0 3px 0 37px;
        pointer-events: auto;

        @media(max-width: 991px) {
          margin: 0 20px;
        }

        @media(max-width: 767px) {
          display: none;
        }
      }

      .main-header__user-inner {
        background-image: url(../images/user.png);
      }

      .main-header__user-menu {
        display: block;
      }
    }
  }

  .notice {
    width: 24px;
    height: 24px;
  }
}

.main-header__langs {
  margin-left: 86px;
  margin-top: -1px;

  @media(max-width: 1199px) {
    margin-left: 0;
  }
}