.main-header {
  background: linear-gradient(265.99deg, #191C36 0%, #212B4C 100%);
  padding: 25px 0 24px;

  @media(max-width: 991px) {
    padding: 5px 0;
  }

  &__menu-toggle {
    display: none;

    @media(max-width: 767px) {
      display: block;
      z-index: 201;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__logo {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    letter-spacing: 0.05em;
    color: #FFF;
    text-decoration: none;  

    @media(max-width: 991px) {
      font-size: 24px;
    }
  }

  &__nav {
    margin-top: -1px;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-right: -12px;

    @media(max-width: 767px) {
      margin-right: 0;
      margin-left: 0;
    }

    &-menu {
      margin-right: -3px;
      margin-top: 3px;
      text-decoration: none;
      display: none;

      @media(max-width: 767px) {
        margin-right: 0;
      }
    }

    &-auth {
      text-decoration: none;
      color: #fff;
    }

    &-notices {
      display: none;
      text-decoration: none;
      color: #fff;
    }

    &-icon {
      border: 1px solid #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2px 0 20px;
      text-decoration: none;
      pointer-events: none;

      @media(max-width: 767px) {
        display: none;
      }
    }

    &-inner {
      width: 50px;
      height: 50px;
      background-image: url(../images/user_unknown.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &.logged {
      margin-right: 0;
      margin-left: 13px;

      .main-header__user-auth {
        display: none;
      }

      .main-header__user-notices {
        display: block;
        margin-top: 4px;

        @media(max-width: 767px) {
          display: none;
        }
      }

      .main-header__user-icon {
        margin: 0 3px 0 37px;
        pointer-events: auto;

        @media(max-width: 991px) {
          margin: 0 20px;
        }
      }

      .main-header__user-inner {
        background-image: url(../images/user.png);
      }

      .main-header__user-menu {
        display: block;
      }
    }
  }

  .notice {
    width: 24px;
    height: 24px;
  }
}