.registration {
  max-width: 512px;
  margin: 0 auto;

  @media(max-width: 575px) {
    padding: 30px;
  }

  &__title {
    text-align: center;
    padding-bottom: 63px;

    @media(max-width: 1365px) {
      padding-bottom: 50px;
    }

    @media(max-width: 991px) {
      padding-bottom: 30px;
    }
  }
}